---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Placeholder from "/src/content/decor/footer.jpg";

import type { ImageFunction } from "astro:content";
type Props = CollectionEntry<"projects">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      body {
        color: var(--text-colour);
      }
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }

      .hero-image {
        width: 100%;
        margin-top: 0.4em;
      }
      .img {
        margin: auto;
        padding: 0;
        width: 100%;
      }
      .hero-image {
        display: block;
        border-radius: 2px;
        /* box-shadow: var(--box-shadow); */
      }
      .wrapper {
        margin-left: auto;
        margin-right: auto;
      }
      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        /* color: rgb(var(--gray-dark)); */
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
        font-size: 2em;
      }
      .date {
        margin-bottom: 0.5em;
        /* color: rgb(var(--gray)); */
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body>
    <Header />
    <div class="wrapper">
      <div class="container">
        <main>
          <article>
            <div class="blog-post-hero-crop">
              <div class="hero-image">
                {
                  heroImage && (
                    <Image
                      src={heroImage ? heroImage : Placeholder}
                      alt="Project hero image"
                    />
                  )
                }
              </div>
            </div>

            <div class="prose">
              <div class="title">
                <h1>{title}</h1>
                <div class="date">
                  <FormattedDate date={pubDate} />
                  {
                    updatedDate && (
                      <div class="last-updated-on">
                        Last updated on <FormattedDate date={updatedDate} />
                      </div>
                    )
                  }
                </div>
                <hr />
              </div>

              <slot />
            </div>
          </article>
          <!-- <button onclick="topFunction()" id="myBtn" title="Go to top"
            >Top</button
          > -->
        </main>
      </div>
    </div>
    <Footer />
  </body>
</html>
